* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: flex;
    margin: 10px;
    gap: 20px;
}
section {
    flex: 1;
    gap: 20px;
}
div {
    background: #ff6247;
    color: white;
    width: 100%;
    padding: 40px;
    text-align: center;
}
.flexbox-big div {
    height: 100%;
}
.flexbox-right {
    display: flex;
    flex-direction: column;
}
.flexbox-right div {
    height: 100px;
}
.flexbox-small {
    display: flex;
}
.flexbox-small div {
    height: 100px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 100px;
    margin: 10px;
    margin-top: 20px;
    gap: 20px;
}
.grid div {
    background: #acd7e6;
    color: black;
}
.grid div:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: span 2;
}
.grid div:nth-of-type(2) {
    grid-column: span 2;
}
.grid div:nth-of-type(3) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}
.grid div:nth-of-type(4) {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}